extends ../layout 

block content 
    h1= title 

    ul 
        each item in item_list
            li 
                a(href=item.url) #{item.name}
                |   (#{item.category.name}) - #{item.price}

        else 
            li We are out of stock, visit us later...